@import "../../../style/colors.scss";

header {
  position: fixed;
  top: 4px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: $mid-orange;
}
nav {
  padding-top: 8px;
  height: 54px;
  background-color: $blue-grey;
}
nav input{
  display: inline-block;
  margin-left: 50px;

}
