<p>
  Home Works!
</p>
<my-login></my-login>


<div class="container" style="border: 1px solid black;" fxLayout.sm="column"  fxLayout.md="row wrap">
  <div style="border: 1px dotted red;" fxFlex="auto" fxFlexAlign.sm="center center">This displayed left on large-medium devices, and will be displayed centered on small ones</div>
  <div style="border: 1px dotted green;" fxFlex="66" fxHide.sm="true">This div is always 66% on large-medium devices, it will be hidden on small devices</div>
  <div style="border: 1px dotted blue;" fxFlex="auto" fxFlexAlign.sm="center center">This div is place right on large-medium devices, it will be displayed centered on small ones</div>
</div>

