<form *ngIf="showForm" [formGroup]="loginForm" (ngSubmit)="doLogin($event)" class="col-md-2 offset-md-5">

  <input class="form-control" formControlName="name" type="name" placeholder="name" required >
  <input class="form-control" formControlName="password" type="password" placeholder="password" required>
  <button type="submit" class="btn btn-default" >Login</button>

</form>

<div fxLayout="column" fxLayoutAlign="center center">

  <div *ngIf="formErrors.name" class="alert alert-danger">
    <ng-container i18n>{{ formErrors.name }}</ng-container>
  </div>
  <div *ngIf="formErrors.password" class="alert alert-danger">
    <ng-container i18n>{{ formErrors.password }}</ng-container>
  </div>

</div>
