<div class="vertical-center">
  <md-card *ngIf="showForm" fxFlex.sm="70%" fxFlexOffset.sm="15%" fxFlex="33%" fxFlexOffset="33%" class="login-card">
    <img md-card-image src="img/oceanawprksp.png">
    <md-card-header fxLayoutAlign="center">
      <md-card-title>Login Agent</md-card-title>
    </md-card-header>
    <form [formGroup]="loginForm" (ngSubmit)="doLogin($event)" fxLayout="column" fxLayoutAlign="space-around center">

      <md-input-container floatPlaceholder="never">
        <input mdInput formControlName="name" type="text" placeholder="Username">
        <md-error *ngIf="formErrors.name" color="warn">
          <ng-container i18n>{{ formErrors.name }}</ng-container>
        </md-error>
      </md-input-container>

      <md-input-container floatPlaceholder="never">
        <input mdInput formControlName="password" type="password" placeholder="Password">
        <md-error *ngIf="formErrors.password">
          <ng-container i18n color="warn">{{ formErrors.password }}</ng-container>
        </md-error>
      </md-input-container>

      <button md-raised-button type="submit">SIGN IN</button>
    </form>
  </md-card>
</div>
<!--[disabled]="!loginForm.valid"-->
