<div>
  <md-card *ngIf="showForm" fxFlex="70%" fxFlexOffset="15%" fxFlex.gt-sm="33%" fxFlexOffset.gt-sm="33%" class="login-card">
    <img md-card-image src="img/oceanawprksp.png">
    <md-card-header fxLayoutAlign="center">
      <md-card-title>Login Agent</md-card-title>
    </md-card-header>
    <form [formGroup]="loginForm" (ngSubmit)="doLogin($event)" fxLayout="column" fxLayoutAlign="space-around center">

      <md-input-container floatPlaceholder="never">
        <input mdInput formControlName="username" type="text" placeholder="Username">
      </md-input-container>
      <my-validation [control]="loginForm.controls.username"></my-validation>

      <md-input-container floatPlaceholder="never">
        <input mdInput formControlName="password" type="password" placeholder="Password">
      </md-input-container>
      <my-validation [control]="loginForm.controls.password"></my-validation>

      <button md-raised-button type="submit">SIGN IN</button>
    </form>
  </md-card>
</div>
<!--[disabled]="!loginForm.valid"-->
