// styles in src/style directory are applied to the whole app
@import "material";
@import "mixins";

body {
  color: #fff;
  font-size: 14px;
  font-family: Arial;
}
a {
  color: white;
}

a:hover {
  color: $off-white;
}

button {
  color: $blue-dark-grey;
  background-color: $off-white;
  font-family: Arial;
  font-size: 14px !important;
  width: 100px;
  height: 34px;
  display: inline-block;
  @include button-border-radius(5px);
}
button:hover, button:focus, button:active {
  @extend button;
  color: white;
  background-color: $mid-blue;
}

button:disabled {
  @extend button;
  background-color: $off-white;
  color: $blue-dark-grey;
  opacity: 40;
}

i {
  color: $dark-grey;
}
i:hover {
  color: $mid-blue;
}
i:disabled {
  color: $blue-dark-grey;
  opacity: 40;
}
